.container 
    .row 
        .four.columns
            img(src="/assets/imgs/Logo.jpg", alt="betis" width="100px" height="100px")
        .four.columns
            input(type="text", name="buscar")
        .four.columns
            .container 
                .row 
                    .four.columns 
                        .container 
                            .row 
                                .six.columns 
                                    img(src="/assets/icon/iconoTlf.jpg", alt="betis" width="30px" height="30px")
                                .six.columns 
                                    p 695554741
                    .four.columns 
                    
                    .four.columns 