nav
    .container 
        .row 
            .three.columns
                a(href="/../views/dist/home.html") Inicio
            .three.columns
                a(href="/../views/dist/productos.html") Productos
            .three.columns
                a(href="/../views/dist/ofertas.html") Ofertas
            .three.columns
                a(href="/../views/dist/contacto.html") Contacto