nav
    .container 
        .row 
            .three.columns
                a(href="#") Inicio
            .three.columns
                a(href="#") Productos
            .three.columns
                a(href="#") Ofertas
            .three.columns
                a(href="#") Contacto