extends layout.pug

block content
    main.container-fluid
        .row
            aside.col-2.p-0 
                include sidebar.pug
            section.col-10.p-0
                include carousel.pug