.card {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 5rem 1rem 1rem 1rem;

    img {
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .card-content {
        padding: 1.5rem;

        h5 {
            font-size: 1.9rem;
            margin-bottom: 0.4rem;
            text-align: center;
        }

        p{
            font-size: 1.3rem;
            text-align: center;
        }
    }
}