.header-row {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;

    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
    }

    .buscar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        input[type="text"] {
            width: 100%;
            max-width: 400px;
            padding: 2rem 2rem;
            border-radius: 30px;
        }
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .iconos {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin: 0;

            .columns {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0 0.5rem;
                img {
                    border-radius: 50%;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }
        }
    }
}

