block content 
    p Hola! Lo he hecho con pug
    section.section__form
        input.form__input(type="text" name="textoMAC" placeholder="Escribe una Direccion MAC")
        select.form__select(name="selectMAC")
            option(value="0" disabled selected) Elige una clase
            option(value="DAW1") 1ยบ DAW
            option(value="DAW2") 2ยบ DAW
            option(value="DAM1") 1ยบ DAM
            option(value="x" disabled) ...
        button.form__button Enviar