extends layout.pug

block contenido 
    .carrousel
        .grande
            img.img(src="#", alt="Imagen 1")
            img.img(src="#", alt="Imagen 2")
        ul.puntos 
            li.punto 
            li.punto  