extends layout_alternativo

block contenido
    h3 Selecciona las chuches que quieras encargar 
    .row
        .four.columns 
            include _card
        .four.columns 
            include _card
        .four.columns 
            include _card
    .row
        .four.columns 
            include _card
        .four.columns 
            include _card
        .four.columns 
            include _card
    h2 O haz tu propio encargo 