extends layout_alternativo

block contenido
    h3 Selecciona los paquetes que quieras encargar 
    .row
        .four.columns 
            include _paquetes
        .four.columns 
            include _paquetes
        .four.columns 
            include _paquetes
    .row
        .four.columns 
            include _paquetes
        .four.columns 
            include _paquetes
        .four.columns 
            include _paquetes
    h2 O haz tu propio encargo 
    h4 Selecciona tus productos
    .row
        .four.columns  
            include _card
        .four.columns 
            include _card 
        .four.columns 
            include _card
    .row
        .four.columns
            include _card
        .four.columns 
            include _card
        .four.columns 
            include _card