extends layout

block contenido
    .row
        .nine.columns
            h3 ¿Quiénes somos? 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, pariatur minus! Amet numquam ea atque unde odit rem. Debitis sint blanditiis iusto possimus asperiores voluptatem quasi enim praesentium et ad!Quibusdam, tenetur! Magnam ipsa exercitationem delectus nesciunt temporibus, cum aspernatur voluptates velit. Rem corrupti voluptate, in enim aliquid blanditiis id nihil tempora repudiandae aut sed. Itaque minus dolor dicta ullam!Velit vel accusantium officia quam delectus sunt repellendus est, architecto odit! Hic eligendi non in accusamus vitae, nisi dolorem, accusantium ullam dolores voluptas praesentium expedita sapiente corporis. Expedita, aliquid possimus?Provident aspernatur saepe suscipit voluptates illum neque nam culpa officiis cum sint perspiciatis facere, debitis adipisci corporis praesentium dolores, ut totam ipsum error ipsam? Aspernatur quia cum beatae unde dolores!
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum cupiditate quod cumque expedita nemo, eveniet eligendi quisquam minus laboriosam tempora magnam animi ea vitae tempore provident quis aut dolores minima?Quas laborum praesentium fuga officiis, corrupti laboriosam voluptatem, vitae provident doloremque voluptatibus asperiores. Laborum quod dicta consequatur voluptatum optio temporibus sapiente itaque impedit, natus tenetur ipsum suscipit quas autem. Ipsam.Maxime, hic fugiat. Aliquam enim dolores a explicabo consequatur repudiandae quo accusamus ratione, quidem itaque odio eligendi aperiam rerum incidunt quos minus quod voluptatum architecto qui! Vel rem commodi perspiciatis.
        .three.columns
            img(src="/img/Logo.jpg", alt="quienes somos" width="350px" height="500px")
    .row
        .four.columns 
            include _card
        .four.columns 
            include _card
        .four.columns 
            include _card
    .row
        .four.columns 
            include _card
        .four.columns 
            include _card
        .four.columns 
            include _card