doctype html 
html 
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="estilos.css")
        title Formulario de MACs IES GP
    body 
        header 
            p Formulario de MACs IES GP
        main 
            include layout 
            include tabla 
        footer
            p Alonso Almodóvar - Diseño de Interfaces