block content 
    p Hola! Lo he hecho con pug
    section(name="selectores")
        input(type="text" name="textoMAC" id="textoMAC" placeholder="Escribe una Direccion MAC")
        select(name="selectMAC" id="selectMAC")
            option(value="0" disabled selected) Elige una clase
            option(value="DAW1") 1ยบ DAW
            option(value="DAW2") 2ยบ DAW
            option(value="DAM1") 1ยบ DAM
            option(value="x" disabled) ...
        button(id="btnEnviar") Enviar