block table 
    section
        table(id="miTabla")
            thead 
                tr 
                    th Dirección MAC
                    th Clase
                    th Opciones
            tbody
                tr 
                    td(class="datos") 74:56:3C:59:E1:1D
                    td(class="datos") 1º DAW
                    td
                        button(class="btnsTabla" name="btnEditar") Editar
                        button(class="btnsTabla" name="btnEliminar") Eliminar
                tr
                    td(class="datos") 74:56:3C:59:EF:4A
                    td(class="datos") 1º DAW
                    td
                        button(class="btnsTabla" name="btnEditar") Editar
                        button(class="btnsTabla" name="btnEliminar") Eliminar
                tr
                    td(class="datos") 74:56:3C:59:EC:22
                    td(class="datos") 1º DAM
                    td
                        button(class="btnsTabla" name="btnEditar") Editar
                        button(class="btnsTabla" name="btnEliminar") Eliminar
                tr
                    td(class="datos") 74:56:3C:59:E1:10
                    td(class="datos") 2º DAW
                    td
                        button(class="btnsTabla" name="btnEditar") Editar
                        button(class="btnsTabla" name="btnEliminar") Eliminar
