block table 
    section
        table.table
            thead 
                tr  
                    th.table__th Dirección MAC
                    th.table__th Clase
                    th.table__th Opciones
            tbody
                tr.table__tr 
                    td.table__td 74:56:3C:59:E1:1D
                    td.table__td 1º DAW
                    td.table__td
                        button.table__button.table__buttonEditar Editar
                        button.table__button.table__buttonEliminar Eliminar
                tr.table__tr
                    td.table__td 74:56:3C:59:EF:4A
                    td.table__td 1º DAW
                    td.table__td
                        button.table__button.table__buttonEditar Editar
                        button.table__button.table__buttonEliminar Eliminar
                tr.table__tr 
                    td.table__td 74:56:3C:59:EC:22
                    td.table__td 1º DAM
                    td.table__td
                        button.table__button.table__buttonEditar Editar
                        button.table__button.table__buttonEliminar Eliminar
                tr.table__tr 
                    td.table__td 74:56:3C:59:E1:10
                    td.table__td 2º DAW
                    td.table__td
                        button.table__button.table__buttonEditar Editar
                        button.table__button.table__buttonEliminar Eliminar