footer {
    background-color: $color-principal;
    p{
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 1.7;
        color: $color-letra;
        letter-spacing: 0.5px;
        text-align: center;
    }
}