header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    margin: 0;

    .header-left {
        display: flex;
        align-items: center;
    }

    .header-center {
        flex: 1;
        display: flex;
        justify-content: center;

        input {
            margin: 0;
            width: 57%;
            max-width: 400px;
            padding: 2rem 2rem;
            border-radius: 30px;
            border: 3px solid $color-principal;
            font-size: 1.1rem;
        }
    }

    .header-right {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                transform: scale(1.15);
            }
        }
    }
}