ul.nav_horizontal {
    background-color: #ff6fa2;
    li {
        display: inline;

        a {
            color: white;
            font-size: 1.75rem;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            font-weight: 600;
            text-decoration: none;
            padding: 0rem 7.5rem;
            position: relative;
        }

        &:hover {
            background-color: #ff1493;
            transition: 0.4s;
        }
    }
}

ul.nav_vertical {
    background-color: #ff6fa2;

    li {
        display: block;
        padding: 0.75rem 1rem;

        a {
            color: white;
            font-size: 2.15rem;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            font-weight: 600;
            text-decoration: none;
            position: relative;
        }

        &:hover {
            background-color: #ff1493;
            transition: 0.4s;
        }
    }
}