ul.nav_horizontal {
    background-color: $color-principal;
    li {
        display: inline-block;
        margin-top: 1rem;
        padding: 0rem 7.5rem;

        a {
            color: $color-letra;
            font-size: 1.75rem;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            font-weight: 600;
            text-decoration: none;
            position: relative;
        }

        &:hover {
            background-color: $color-principal-hover;
            transition: 0.4s;
        }
    }
}

ul.nav_vertical {
    background-color: $color-principal;

    li {
        display: block;
        padding: 0.75rem 1rem;

        a {
            color: $color-letra;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            font-weight: 600;
            text-decoration: none;
            position: relative;
        }

        &:hover {
            background-color: $color-principal-hover;
            transition: 0.4s;
        }
    }
}