@import "_colores";
@import "_nav";
@import "_footer";
@import "_header";
@import "_card";
@import "_carrusel";

@each $tam in (20, 40, 50, 70, 85) {
    .h-#{$tam} {
        max-height: #{$tam}vh;
        overflow: scroll;
    }
}