$color-principal: #ff6fa2;
$color-background: white;
$color-texto: #333;

body {
    background-color: $color-background;
}

input[type="text"] {
    border: 3px solid $color-principal;
    font-size: 1.1rem;
}

footer {
    background-color: $color-principal;
    margin-bottom: 0;
}

p {
    margin: 0;
    font-size: 1.55rem;
    font-weight: 600;
    color: $color-texto;
    line-height: 1.7;
    text-align: left;
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-principal;
    font-weight: 700;
}

h3 {
    font-size: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a {
    color: $color-background;
    font-size: 1.1rem;

}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0 1.5rem;
}

input {
    margin-bottom: 0;
}

nav {
    background-color: $color-principal;
}

.columns {
    padding: 0;
}