.mb-3
    p.fw-semibold.mb-1 Usuario que escribe 
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam neque ex voluptatem reiciendis ipsum id dolore fuga illum. Vel, eaque doloribus iste molestias laborum excepturi harum. Dolor corrupti unde cumque.