ul.nav.nav-pills
    li.nav-item
        a.nav-link.text-white(href="#") Te recomendamos
    li.nav-item
        a.nav-link.text-white(href="#") Mis itinerarios
    li.nav-item
        a.nav-link.text-white(href="#") Mi cuenta