.col-12.col-lg-6
    .row.g-2.align-items-center
        .col-4.col-lg-4
            .bg-secondary.ratio.ratio-4x3.rounded-2 
        .col-8.col-lg-8
            p.fs-3.mb-1 Punto del Itinerario 
            p.fs-6.mb-0 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ipsam mollitia molestias quas in praesentium quis reiciendis maiores assumenda.