.col-12.col-sm-6.col-md-4.col-lg-4
    .row 
        .col-11.col-lg-10.pe-0 
            .bg-secondary.ratio.ratio-1x1.rounded-2 
        .col-1.col-lg-2.ps-0.align-self-end 
            .m-1.text-warning.fs-4 
                i.bi.bi-star
            .m-1.text-warning.fs-4 
                i.bi.bi-star
            .m-1.text-warning.fs-4 
                i.bi.bi-star-fill 
            .m-1.text-warning.fs-4 
                i.bi.bi-star-fill 
            .m-1.text-warning.fs-4 
                i.bi.bi-star-fill
    .row
        .col-11.col-lg-10
            p.fs-4.mb-0.text-center Nombre Itinerario 
            p.small.text-center Creado por Alonso Almodóvar